.wave-player {
	border: 0 none;
	margin: 0;
	padding: 0;
	width: 177px;
	vertical-align: middle;
	color: white;
	background-color: #424242;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.wave-inner {
	margin: 0px auto;
	text-align: left;
	width: 92%!important;
	float: none!important;
	padding: 6px 4px;
}

.wave-player .wave-play,
.wave-player .wave-stop { 
	cursor: pointer;
}

.wave-player .wave-buttons {
  vertical-align: middle;
  padding-right: 6px;
}

.wave-player .wave-buttons .wave-action:focus,
.wave-player .wave-buttons .wave-action:hover {
	opacity: 0.8;
}

.wave-player .wave-buttons .wave-action {
	background-image: url('wave-buttons.png'); 
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;	
	display: inline-block;
	vertical-align: middle;
}

.wave-buttons .wave-play { background-position: left top; }
.wave-buttons .wave-stop { background-position: right top; }

.wave-label {
  vertical-align: middle;
  font-size: 10pt;
  padding-left: 4px;
}

/**
 * Volume control
 */
.wave-volume {
  display: inline-block;
  width: 25px;
  height: 12px;
  background-color: white;
  vertical-align: middle;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  position: relative;
  border-left: 0 none;
  border-right: 0 none;
}

.wave-volume .wave-volume-level {
  display: inline-block;
  height: 100%;
  background-color: rgb(182, 182, 182);	
}

.wave-volume .wave-volume-label {
  line-height: 1;
  position: absolute;
  font-size: 7pt;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: black;
  margin-top: 1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;    
}